{% extends "base.html" %}
{% block home %} 
      <li class="nav-item">
{% endblock %}
{% block product %} 
   <li class="nav-item active">
{% endblock %}

{% load static %}

{% block content %}
 
<div class="py-3 " style="background-color:brown;"> 
   <div class="container ">
<a class="text-white" href="{% url 'index' %}"  >Back to Home / </a>
<a class="text-white" href="{% url 'products' %}" >Category </a>

</div>
 
</div>
<style>
   .pd:hover{
      opacity: 60%;
      background-color: black;
   }
</style>


<section class="p-4">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products Category</span>
               </h2>
            </div>
            <div class="row">
               {% for item in category %}
               <hr>
               <div class="col-sm-4 col-md-6 col-lg-3">
                  <div class="card mb-5" style="width: 18rem; height:20rem;" >
                     <a class="pd"href="{% url 'collections' item.slug %}" >
                     <div class="card-body">
                        <div class="category.image center">
                           <img src="{{ item.image.url }}" alt="category image" style="width:16rem; height:10rem;">
                        </div>
                       
                           <h1 style="color: brown;">{{ item.name }}</h1>
                       
                     </div>
                     </a>
                  </div>
               </div>
               {% endfor %}
            <!-- <div class="btn-box">
               <a href="">
               View All products
               </a>
            </div> -->
         </div>
         </div>
      </section>
      <!-- end product section -->
      
{% endblock %}